<p id="notice"><%= notice %></p>

<h1>would you rather</h1>

<% @questions.each do |q| %>
  <%= q.text %>
  <% q.answers.each do |a| %>
    <%= a.text %>
    <%= button_tag type: 'button' do %>
      vote!
    <% end %>
  <% end %>
  <%= link_to 'Show', q %>
  <%= link_to 'Edit', edit_question_path(q) %>
  <%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
